/* ====================
   Base
   ==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit
}

/* ====================
   Layout
   ==================== */

.container {
  width: min(100% - 3rem, 900px);
  margin-inline: auto;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer{
  text-align: center;
  padding: 2em 0;
}












.logo-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.featured-post-card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}